/* section buyer */
.navbar {
    padding: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
   }
   
   .nav-link {
     font-size: 20px;
     text-decoration: none;
     color: #000000;
   }
   
   .konten-wrapper{
     margin: 30px 50px;
   }
   
   .nama-penjual{
     display: flex;
     justify-content: left !important;
     align-items: center;
     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
     border-radius: 16px;
     padding: 0 20px;
     margin: 30px 0;
   }
   .nama-penjual img{
    width: 40px;
    height: 40px;
   }
   .bg-grey{
    background-color: #EEEEEE;
    border: 1px;
  }
   
   .identitas{
     padding-top: 14px;
     margin-left: 10px;
   }
   
   .kota{
     margin-top: -10px;
   }
   
   .btn-edit{
     border: 1px solid #7126B5;
     padding: 4px 12px;
     border-radius: 8px;
   }
   
   .card-konten{
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
     border-radius: 16px;
     border: 0;
     padding: 15px;
   }
   
   .category{
     margin-left: 10px;
   }
   
   .link-category{
     text-decoration: none;
     color: #000000;
   }
   
   .card-jam{
     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     border: 0;
   }
   
   .card-img-top{
     padding: 10px;
   }
   
   .f-14{
     font-size: 14px;
   }
   
   .f-12{
     font-size: 12px;
   }
   
   .f-16{
     font-size: 16px;
   }
   
   .ml-10{
     margin-left: 10px;
   }
   .mb-minus-15{
     margin-bottom: -15px;
   }
   .btn-edit {
    border-radius: 16px ! important;
    border-color: #7126b5;
  }
  .card-subtitle {
    color: #8A8A8A !important;
  }
  .br{
    border-radius: 16px ! important;
  }
   /* end section daftar jual */
