/* .body {
  font-family: 'Poppins';
} */
.card {
  border-color: #ffffff;
}

.bg-gray{
  background-color: #EEEEEE;
}

.modal-backdrop.showa {
    opacity: 0 !important;
}

.container-fluid{
  margin-right: 4%;
  margin-left: 4%;
}

.modalb {
  margin-top: 5%;
  
}

.modala{
  margin-top: 2% !important;
  height: 100% !important;
  margin-left: 29% !important;
  border-radius: 20px !important;
}

.input-form{
  border: 1px solid #D0D0D0;

  width: 100%;
  height: 42px;
  border-radius: 15px;
  padding: 10px;
}

.border-none {
  border-color: #eeeeee;
}

.up-20 {
  margin-top: 20%;
}

.mx-65 {
  margin-left: 65px;
  margin-right: 65px;
}

.purple {
  color: #7126b5;
}

.purple-category {
  color: #fff !important;
  background-color: #7126b5 !important;
}

.btn-success {
  background-color: #7126b5;
  color: aliceblue;
  width: 100%;
  height: 45px;
  border-radius: 5px;
}

.btn-success-edit:hover {
  background-color: #7126b5;
  color: aliceblue;
}

.btn-tawar {
  background-color: #fff;
  border-color: #7126b5;
  color: black;
  width: 22%;
  height: 35px;
  border-radius: 20px;
}

.btn-tawar:hover {
  background-color: #7126b5;
  color: aliceblue;
}

.btn-modal {
  background-color: #fff;
  border-color: #7126b5;
  color: black;
  width: 45%;
  height: 35px;
  border-radius: 20px;
}

.btn-modal:hover {
  background-color: #7126b5;
  color: aliceblue;
}

.btn-category {
  background-color: #e2d4f0;
  height: 40px;
  width: 120px;
  border-color: white;
  border-radius: 10px;
  color: black;
}

.btn-category:hover {
  background-color: #7126b5;
  color: aliceblue;
}

.btn-success-edit {
  background-color: aliceblue;
  height: 30px;
  width: 60px;
  border-color: #7126b5;
  border-radius: 10px;
}


.alert-green{
  background-color: #73CA5C;
  color: #EEEEEE;
  border-radius: 10px;
  width: 500px;
  height: 55px;
  margin: auto;
}

.header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  height: 70px;
}

.form-input-atas {
  width: 355px;
  border-radius: 15px;
  background-color: #eeeeee;
  border-color: #eeeeee;
}

a:hover {
  color: #7126b5;
  text-decoration: none;
}

.purplee:hover{
  color: #7126b5;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

.border-radius-15 {
  border-radius: 16px;
}

.icon-pass {
  border: none;
  background-color: white;
  color: #8a8a8a;
  width: none;
  height: none;
}

.icon-pass:hover{
  background-color: #eeeeee;
  color: #000000;
}

.pass-login {
  display: block;
}

.mx-25{
  margin-left: 25%;
  margin-right: 25%;
}

@media all and (min-width: 1024px) {
  .mt-150 {
    margin-top: 150px;
  }
  .mx-60 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .ds-none {
    display: none !important;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .mx-60 {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .none {
    display: none !important;
  }

  .width-50 {
    width: 50%;
  }
}

@media all and (max-width: 480px) {
  .width-50 {
    width: 50%;
  }

  .none {
    display: none !important;
  }
}

.body {
  margin: 0;
}

.form {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

select:invalid {
  color: gray;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

.button-purple {
  width: 100%;
  height: 48px;
  padding: 12px 24px;
  gap: 4px;
  background-color: #7126b5 !important;
  border-radius: 16px !important;
  color: #ffffff !important;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

::placeholder {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

.left-arrow {
  width: 24px;
  height: 24px;
}

.navbar {
  background: #ffffff !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
  font-family: '';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000 !important;
}

.rectangle-navbar {
  width: 100px;
  height: 34px;
  margin-left: 136px !important;
}

input .form-select {
  border: 1px solid #d0d0d0 !important;
  border-radius: 16px !important;
  width: 568px;
  height: 45px;
}

.btn-preview {
  width: 276px;
  height: 48px;
  background: #ffffff !important;
  border: 1px solid #7126b5 !important;
  color: #151515 !important;
  margin-right: 75px;
}

.btn-terbitkan {
  width: 276px;
  height: 48px;
}

.left-arrow-1 {
  width: 24px;
  height: 24px;
  margin-left: -100px;
  margin-top: 30px;
}

.form-seller {
  margin-top: -32px;
}

/* NOTIFIKASI */
/*Clearing Floats*/
.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
/* Form wrapper styling */

.search-wrapper {
  width: 444px;
  border-radius: 16px;
  background: transparent;
  margin-left: -300px !important;
}

/* Form text input */

.search-wrapper input {
  width: 444px;
  height: 48px;
  padding: 12px 24px;
  float: left;
  font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eeeeee;
  border-radius: 16px;
  border-top-style: none;
}

.search-wrapper input:focus {
  outline: 0;
  background: #eeeeee;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
  color: #8a8a8a;
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-moz-placeholder {
  color: #8a8a8a;
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
  color: #eeeeee;
  font-weight: normal;
  font-style: italic;
  border-style: none;
}

/* Form submit button */
.search-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 0px;
  width: 110px;
  font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #eeeeee;
  text-transform: uppercase;
  background: #eeeeee;
  border-radius: 40px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.search-wrapper button:active,
.search-wrapper button:focus {
  background: #eeeeee;
  outline: 0;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before {
  border-right-color: #eeeeee;
}

.search-wrapper button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}

.search-control {
  width: 24px;
  height: 24px;
  background-color: #eeeeee !important;
  margin-top: -87px;
}

.icon-navbar {
  width: 24px;
  height: 24px;
}

.icon-nav {
  margin-left: 300px !important;
}

.card-notif-1 {
  margin-top: 10px;
}

.card-atas {
  background: #ffffff;
  /* Shadow/High */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  margin-top: -10px;
  z-index: 9999 !important;
  margin-left: 125px;
}

.card-1-image {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.list-card-1 {
  list-style-type: none;
}

.penawaran {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
}

.list-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.list-text-price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #151515;
}

.date-card-1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
  margin-left: 260px;
  margin-top: -75px;
  padding-bottom: 70px;
}

.dot {
  width: 8px;
  height: 8px;
  margin-left: 7px;
  margin-top: -1px;
}

.col-2 {
  margin-top: -50px;
  margin-left: 35px;
}

.date-card-2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
  margin-left: 260px;
  margin-top: -55px;
}

.text-daftar-jual {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-left: -10px;
}

.card-tengah {
  width: 968px;
  height: 80px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 16px;
  gap: 10px;
  margin-top: -135px;
}

.user-penjual-image {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  margin-top: -8px;
  margin-left: -6px;
}

.list-card-tengah-1 {
  list-style-type: none;
  margin-top: -42px;
  margin-left: 25px;
}

.text-nama-penjual {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.text-city {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
}

.card-bawah-1 {
  width: 268px;
  height: 290px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.card-kategori {
  margin-top: -16px;
  margin-bottom: 0px;
}

.text-kategori p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 30px;
  margin-left: 15px;
}

.icon-card-bawah-1 {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  padding-right: 0px;
}

.text-card-bawah-1 p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7126b5;
  margin-top: -25px;
  margin-left: 40px;
}

.icon-card-bawah-2 {
  width: 24px;
  height: 24px;
  margin-top: -85px;
  margin-left: 200px;
}

.text-card-bawah-2 p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: -25px;
  margin-left: 40px;
}

.card-produk-bawah {
  width: 206.67px;
  height: 198px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.tambah-produk-input {
  width: 206.67px;
  height: 198px;
}

.image-card-bawah-2-1 {
  width: 190.67px;
  height: 100px;
  margin-left: 8px;
  margin-top: 8px;
}

.text-bawah-1-1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-left: 9px;
}

.text-bawah-1-2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  margin-left: 9px;
}

.text-bawah-1-3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 9px;
}

.image-card-bawah-2-2 {
  width: 190.67px;
  height: 100px;
  margin-left: 8px;
  margin-top: 8px;
}

/* irfan */

/* homepage */
/* navbar */
.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}
.search-navbar {
  background-color: #eeeeee;
  width: 350px;
}
.btn-purple {
  background-color: #7126b5;
  color: #fff !important;
}
.navbarBrand {
  background-color: #7126b5;
  width: 100px;
  margin-right: 20px;
  height: 38px;
}
/* slider home */
.img-banner {
  margin-top: 60px;
  margin-bottom: 50px;
}
/* .slick-list {
  padding: 0px 300px !important;
} */

.slick-center {
  transform: scale(1, 1.4);
  padding-left: 30px;
  padding-right: 30px;
}
/* Kategori */
.btn-kategori {
  background-color: #7126b5;
  color: #fff !important;
  width: 100;
}

/* card produk */
.card-row {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 16px;
  row-gap: 22px;
}
.card-item {
  padding: 8px;
}

/*button jual  */
.bottom-5 {
  bottom: 20px;
}

.button-jual {
  padding: 10px 20px;
  background-color: #7126b5;
}
/* seller/productpage */
/* card user */
.card-user .card-text {
  margin-bottom: 0;
}
.card-user .card-body {
  padding: 0;
}
.card-user {
  padding: 1rem;
}
/* card terbit */
.card-link + .card-link {
  margin-left: 0;
}

.btn-terbit {
  background-color: #7126b5;
  color: #fff;
  border-radius: 16px;
}
.btn-edit {
  border-radius: 16px;
  border-color: #7126b5;
}

/* buyer/productpage */
/* tawar */
.card-notifikasi .card-text {
  margin-bottom: 0;
}
.card-notifikasi .card-body {
  padding: 0;
}
.popover {
  max-width: 350px;
}
.popover-body {
  padding: 5px;
}
.time {
  margin-right: 50px;
}
.tawar {
  margin-right: 50px;
}
/* caraousel buyer*/
.carousel-seller-product {
  width: 70%;
  margin: 0px 30px 0px 75px;
}
.carousel-seller-product img {
  height: 400px;
  object-fit: cover;
}
.card-right {
  width: 35%;
  margin: 0px 75px 0px 0px;
}
.card-deskripsi {
  width: 56%;
  margin: 30px 2000px 0px 75px;
}
.carousel-indicators button {
  height: 8px !important;
  width: 8px !important;
  margin: 0 8px !important;
  border-radius: 100%;
}
/* modal tawar */
.modal {
  left: 20px;
}
.modal-content {
  width: 80%;
  border-radius: 20px;
}
.alert-tawar {
  position: absolute !important;
  top: 80px;
  right: 500px;
  border: none;
  background-color: #73ca5c !important;
  color: #fff;
  border-radius: 12px;
}
/* border-radius */
.border-radius {
  border-radius: 12px;
}

.logout-pointer {
  cursor: pointer;
}
/* responsive slcing irfan */
/* navbar */
@media screen and (max-width: 768px) {
  .navbar-homepage {
    background: none !important;
    box-shadow: none;
    position: absolute;
    width: 100%;
  }
  .navbarBrand {
    display: none !important;
  }
  .carousel-home {
    display: none;
  }
  .img-banner-responsive {
    background-image: url('../public/img/img-banner.png');
    width: 100%;
    background-repeat: no-repeat;
    height: 320px;
  }
  .slick-next {
    display: none !important;
  }
  .navbar-toggler {
    background-color: #fff;
  }
  .card-row {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 16px;
    row-gap: 22px;
  }
  .card-item {
    padding: 8px;
  }
  .search-navbar {
    width: 250px;
    background-color: #fff;
  }
  /* seller */
  .navbar-seller {
    display: none;
  }
  .container-carousel {
    flex-flow: column;
  }
  .carousel-seller-product {
    width: 100%;
    margin: 0;
  }
  .carousel-seller-product img {
    height: 250px;
  }
  .card-right {
    width: 100%;
    margin: -50px 0px 0px 0px;
    padding: 0px 25px;
  }
  .card-deskripsi {
    width: 86%;
    margin: 25px 25px;
  }
  .container-carousel-parent {
    padding: 0;
  }
  .btn-terbit {
    position: fixed;
    z-index: 1000;
    width: 80% !important;
    bottom: 0;
    left: 1;
  }
  .btn-edit {
    display: none;
  }
  /* modal tawar */
  .modal-content {
    width: 100%;
    margin-top: 207px;
    outline: none;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .modal {
    left: 0px;
  }
  .modal-dialog {
    margin: 0;
  }
  .fade {
    transition: opacity 1.5s linear;
  }
  .alert-tawar {
    position: absolute !important;
    top: 80px;
    right: 70px;
    left: 70px;
    border: none;
    background-color: #73ca5c !important;
    color: #fff;
    border-radius: 12px;
  }
}

/*Info Profil Responsive*/
@media (max-width:767px) {
  .nav-info-profil {
    width: 100%;
  }

  .rectangle-navbar {
    visibility: hidden;
    display: none;
  }

  .navbar-info-profil {
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

/*Info Produk Responsive*/
@media (max-width:767px) {
  .nav-info-produk {
    width: 100%;
  }

  .rectangle-navbar {
    visibility: hidden;
    display: none;
  }
}

/* Fix CSS Info Profil & Info Produk */
.preview {
  width: 96px;
  height: 96px;
  cursor: pointer;
  margin-left: -53px;
}

input.picture-camera {
  margin-left: -53px;
  display: none;
}

.input-image-produk {
  width: 96px;
  height: 96px;
  cursor: pointer;
  margin-top: 8px;
}

.input-image {
  display: none;
}

